body {
  font-family: proxima-nova, sans-serif;
}

.body-landing {
  background-color: #080f27;
  background-image: url("/images/backgrounds/backgroundLanding.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  .nav-primary {

    button {
      color: white;
    }
  }

  .nav-secondary {
    height: auto;
  }
}