body {
  font-family: proxima-nova, sans-serif;

  background-color: #080f27;
  background-image: url("/images/backgrounds/backgroundLanding.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-landing {

  .nav-primary {
    position: static;
    padding-top: 30px;
    padding-left: 30px;

    @media (max-width: $screen-md-max) {
      position: absolute;
      padding-top: 0px;
      padding-left: 0px;
    }

    .nav-secondary {
      height: auto;

      ul {
        position: static;
        height: auto;
        padding-left: 10px;
      }
    }
  }

  .section-wrapper {
    background: transparent;

    &.darken {

      @media (max-width: $screen-md-max) {

        &:after {
          background: transparent;
        }
      }
    }
  }
}