.btn {
  padding: 13px 26px 13px 26px;
  text-transform: uppercase;
  border-width: 0px;
  border-radius: 0px;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: #6892e8;

  &:hover {
    background-color: #6892e8;

  }
}

.button-expand {
  position: absolute;
  top: 30px;
  left: 15px;
  z-index: 150;
  display: none;
  height: 21px;
  width: 30px;
  border-width: 0px;
  background: url("/images/icons/hamburgerDark.png") center center no-repeat;

  @media (max-width: $screen-md-max) {
    display: block;
  }
}