.section-wrapper {
  padding-top: 30px;
  padding-bottom: 60px;
}

.section-hero {
  padding-top: 25px;

  &.absolute {
    position: absolute;
    bottom: 30px;
    left: 0px;

    @media (max-width: $screen-xs-max) {
      position: relative;
    }
  }

  .logo {
    margin-bottom: 25px;
    margin-left: 5px;
    height: 100px;
    background-image: url("/images/logos/logoLarge.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 285px;
  }

  h1 {
    color: #c3e3f9;
    font-size: 85px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  @media (max-width: $screen-xs-max) {
    .logo {
      margin-left: 2px;
      height: 75px;
      background-size: 184px;
    }

    h1 {
      font-size: 35px;
      line-height: 12px;
    }
  }
}

.section-content {
  margin-top: -150px;
  padding-top: 30px;
  padding-left: $nav-width + 30px;
  width: 100%;
  max-width: $nav-width + 630px;

  @media (max-width: $screen-sm-min) {
    margin-top: 0px;
    padding-left: 0px;
  }

  .logo {
    margin-bottom: 50px;
    height: 86px;
    background-image: url("/images/logos/logoLargeDark.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 300px;

    @media (max-width: $screen-xs-min) {
      background-size: 250px;
    }
  }

  h2 {
    margin-bottom: 30px;
    font-size: 29px;
    color: #696977;
    font-weight: 300;
    font-style: normal;
    line-height: 32px;
  }

  p {
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 32px;
    color: #696977;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
  }

  img {
    width: 100%;
  }

  hr {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}